* {
background-image: url("https://i.ytimg.com/vi/yqXC4wlIAbI/maxresdefault.jpg");
}

p {
  color:#390000;
  text-align: center;
  text-decoration: underline;
   text-shadow: 2px 2px blue;
   font-size: 40px;

}

h1 {
  color:red;
  text-align:center;
}

 #nav { 
   
   background-image: url('https://dncache-mauganscorp.netdna-ssl.com/thumbseg/498/498008-bigthumbnail.jpg');

   background-color: #efefef;

				padding: 0.5em 0;
   
   margin: 1%;



}
