* {
background-image: url("https://i.ytimg.com/vi/yqXC4wlIAbI/maxresdefault.jpg");
}

p {
  color:#390000;
  text-align: center;
  text-decoration: underline;
   text-shadow: 2px 2px blue;
   font-size: 40px;

}
 
h1 {
  color: red;
}
